@model ASP.Net_WebAPI.Models.SellingAuto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SellingAuto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReceipts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReceipts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
